* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    height: 50px;
}

h1 {
    color: orange;
}

h4 {
    margin: 30px 75px;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

#info {
    margin-top: 50px;
}

.form-control {
    width: 200px;
    display: inline-block;
}